<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
  <br/>
  {{ "Contoh Awal"}}
  <br/><br/>
  25 + 25 = {{25 + 25}}
</p>
<ng-template
  *ngIf = "show;then showBlock; else notshowBlock">
</ng-template>

<ng-template #showBlock>
  show block
</ng-template>

<ng-template #notshowBlock>
  not show block
</ng-template>


<p>
  <input [(ngModel)] = "a" type="text" /> * 
  <input [(ngModel)] = "b" type="text" /> =
  <br/>{{a*b}}
</p>

<button (click) = "KlikButton()">Tekan</button>
{{Pesan}}